chromadb
sentence-transformers
rank-bm25
numpy
langchain
langchain-community
langchain-text-splitters
langchain-huggingface
langchain-openai
openai
python-dotenv
pyyaml
unstructured
unstructured[pdf]
ragas
datasets
pymupdf
pdfplumber